In [ ]:
#pip install pandas_datareader
# pip install DateTime

import pandas_datareader.data as web
web.DataReader('IBM',start='2020-01-01')

[*********************100%***********************]  1 of 1 completed

                  Open        High  ...   Adj Close    Volume
Date                                ...
2020-01-02  129.063095  129.942642  ...  117.120605   3293436
2020-01-03  127.695984  128.929260  ...  116.186546   2482890
2020-01-06  127.552582  128.336517  ...  115.978981   2537073
2020-01-07  127.810707  129.024857  ...  116.056808   3232977
2020-01-08  128.594650  129.885284  ...  117.025459   4545916
...                ...         ...  ...         ...       ...
2022-01-25  129.139999  137.339996  ...  136.100006  19715700
2022-01-26  136.470001  137.070007  ...  134.259995   8336000
2022-01-27  133.660004  134.750000  ...  132.520004   5497300
2022-01-28  133.190002  134.529999  ...  134.500000   5469700
2022-01-31  134.089996  134.089996  ...  133.339996   1756680

[525 rows x 6 columns]

In [ ]:
# pip install yfinance --upgrade --no-cache-dir
# pip install DateTime

import datetime as dt
import yfinance as yf
end = dt.datetime.today(); start = end - dt.timedelta(365*1) 
yf.download('NVDA', start, end).reset_index()
# yf.Ticker("NVDA").history(period="1y")

[*********************100%***********************]  1 of 1 completed

          Date        Open        High  ...       Close   Adj Close    Volume
0   2021-02-01  130.532501  132.707504  ...  132.369995  132.254486  21720400
1   2021-02-02  133.987503  135.720001  ...  135.567505  135.449219  22044000
2   2021-02-03  136.360001  139.317505  ...  135.304993  135.186935  24540800
3   2021-02-04  135.309998  136.735001  ...  136.642502  136.523270  20134000
4   2021-02-05  137.250000  137.372498  ...  135.910004  135.791412  16915200
..         ...         ...         ...  ...         ...         ...       ...
248 2022-01-25  225.460007  229.429993  ...  223.240005  223.240005  66461600
249 2022-01-26  232.399994  240.570007  ...  227.720001  227.720001  75595900
250 2022-01-27  235.679993  239.949997  ...  219.440002  219.440002  57212200
251 2022-01-28  220.119995  228.580002  ...  228.399994  228.399994  54283400
252 2022-01-31  231.820007  239.850006  ...  238.888107  238.888107  24702733

[253 rows x 7 columns]

In [ ]:
# pip install pandas
# pip install DateTime

import pandas as pd
import datetime
import time
market = "NVDA"; start = int(time.mktime(datetime.datetime(2020,1,1,0,0).timetuple())); end = int(time.mktime(datetime.datetime.now().timetuple()))
download = f"https://query1.finance.yahoo.com/v7/finance/download/{market}?period1={start}&period2={end}&interval=1d&events=history&includeAdjustedClose=true"
pd.read_csv(download)

           Date        Open        High  ...       Close   Adj Close    Volume
0    2020-01-02   59.687500   59.977501  ...   59.977501   59.826439  23753600
1    2020-01-03   58.775002   59.457500  ...   59.017502   58.868862  20538400
2    2020-01-06   58.080002   59.317501  ...   59.264999   59.115734  26263600
3    2020-01-07   59.549999   60.442501  ...   59.982498   59.831429  31485600
4    2020-01-08   59.939999   60.509998  ...   60.095001   59.943645  27710800
..          ...         ...         ...  ...         ...         ...       ...
520  2022-01-25  225.460007  229.429993  ...  223.240005  223.240005  66461600
521  2022-01-26  232.399994  240.570007  ...  227.720001  227.720001  75595900
522  2022-01-27  235.679993  239.949997  ...  219.440002  219.440002  57212200
523  2022-01-28  220.119995  228.580002  ...  228.399994  228.399994  54283400
524  2022-01-31  231.820007  239.850006  ...  238.830002  238.830002  24706812

[525 rows x 7 columns]

In [ ]:
# pip install quandl
# pip install DateTime

import quandl
quandl.get('WIKI/NVDA')

              Open    High      Low  ...    Adj. Low  Adj. Close  Adj. Volume
Date                                 ...
1999-01-22   21.00   23.44   18.630  ...    1.440564    1.522529   67867200.0
1999-01-25   21.25   22.00   19.690  ...    1.522529    1.681818   12762000.0
1999-01-26   22.00   22.44   19.750  ...    1.527168    1.551139    8580000.0
1999-01-27   20.13   20.63   19.000  ...    1.469174    1.546499    6109200.0
1999-01-28   20.00   20.13   19.810  ...    1.531808    1.541860    5688000.0
...            ...     ...      ...  ...         ...         ...          ...
2018-03-21  249.32  252.00  247.330  ...  247.330000  248.560000   10841782.0
2018-03-22  246.00  247.88  240.341  ...  240.341000  241.850000   13663927.0
2018-03-23  242.40  242.67  232.520  ...  232.520000  232.970000   18225390.0
2018-03-26  238.00  244.53  235.900  ...  235.900000  244.480000   15130542.0
2018-03-27  247.75  250.00  219.845  ...  219.845000  225.520000   34462113.0

[4825 rows x 12 columns]